#home{
    display: flex;
    min-height: 100vh;
    position: relative;
    background-image: url(../Assets/img/index/fundo_index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home{
    padding-top: 100px;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    z-index: 2;
    margin-top: 5%;
}

.description-special {
    color: #fff;
    font-size: 1.2rem;
    span: var(--color-secondary-1);
    font-weight: 500;
}

#cta .title{
    font-size: 3.2rem;
    color: #fff;
}

#cta .title span{
   color: #22D3EE; 
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #fff;
}

#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #000;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0, 0.1);
    border-radius: 12;
}
#phone_button button{
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img{
    height: 100%;
    width: fit-content;
  
}

/*
.shape {
  background-color: #000000;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}*/

@media screen and (max-width: 1170px){
    #home {
        min-height: 100%;
        padding-top: 120px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 768px){
    #home{
        padding-top: 110px;
    }

    #cta .title {
        font-size: 2.2rem;
    }

    #cta .description,
    .description-special {
        font-size: 1rem;
    }
}


@media screen and (max-width: 450px){
    #home{
        padding-top: 100px;
    }

    #phone_button button{
        display: none;
    }

    #cta .title {
        font-size: 1.8rem;
    }

    #cta .description,
    .description-special {
        font-size: 0.9rem;
    }
}


/* DESKTOP */

@media screen and (min-width: 768px){
    #home {
        background-image: url(../Assets/img/index/fundo_index.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 120px 6% 40px;
    }

    #trending .trending-cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
}